
ul li{
    list-style-type: none;
    color: #ffffff !important;
    font-weight: 500;
    font-size: 25px;
    font-family: Helvetica;
    line-height: 1.5;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

.love-note{
    font-size: 10px;
    color: pink
}
ul li:hover{
    color: white !important;
}

ul{
    margin-top: 75px;
    padding-right: 30px;
    
}

.smaller{
    font-size: 20px;
    color: white !important;
    font-weight: 100;

}